@import "@mdi/font/css/materialdesignicons.css";
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYmRjRdE.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISma2RjRdE.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmY2RjRdE.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmbGRjRdE.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYGRjRdE.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYWRjRdE.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rj.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}

body #app {
  box-sizing: border-box;
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Roboto, "Roboto Slab", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
}

:root {
  --main-color: #ce7a58;
}
a,
.green {
  text-decoration: none;
  color: var(--main-color);
  transition: 0.4s;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Overrides CSS */

#app header.v-app-bar {
  position: relative !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}

.v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
  padding: 12px 15px !important;
}

.theme--light.v-list-item .v-list-item__action-text,
.theme--light.v-list-item .v-list-item__subtitle {
  color: #999;
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: #d2d2d2;
}

.theme--light .v-content {
  background-color: #eee;
}

table {
  border-top: thin solid rgba(0, 0, 0, 0.12);
}

.v-btn.v-size--default {
  font-size: 1rem;
}

.v-btn__content .v-icon.v-icon--left,
.v-btn__content .v-icon.v-icon--right {
  font-size: 20px;
}

.v-snack__content {
  font-size: 1rem !important;
}

.v-data-table-header-mobile {
  display: none !important;
}

.v-card {
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%) !important;
}

.counter-up-down input[type="number"]::-webkit-inner-spin-button,
.counter-up-down input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter-up-down input[type="number"] {
  text-align: center;
}

.v-select-list .v-list-item {
  border-bottom: 1px dotted #b9b9b9;
}

main.v-content {
  padding-top: 0px !important;
}

.theme--light.v-picker--date {
  margin-top: 0px;
  margin-bottom: 0px;
}

.v-input--checkbox label {
  color: black !important;
}

table th,
table td {
  padding-left: 8px !important;
  padding-right: 8px !important;
  height: 46px;
  min-height: 46px;
}

.input-header-search,
.input-header-search .v-field {
  border: none;
  height: 28px !important;
}

.input-header-search .v-field {
  border-bottom: 1px solid var(--main-color) !important;
  border-top: 1px solid var(--main-color) !important;
  border-right: 1px solid var(--main-color) !important;
  border-left: none !important;
}

.input-header-search input {
  margin-top: 3px;
}

.input-header-search .v-field__append-inner {
  padding-top: 3px !important;
}

.titleText {
  margin-bottom: 5px;
}

.text-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 5px;
}

.title-required {
  color: red;
}

.input-form .v-field {
  box-shadow: none !important;
  border: 1px solid #dadada;
  padding: 4px 5px;
  border-radius: 0px;
  font-size: 14px;
}

.input-form:not(.v-input--readonly) .v-field {
  background: #ffffff;
}

.input-form.v-input--readonly .v-field {
  background: #ebebeb;
}

.input-form .v-field .v-field__overlay {
  background: #ffffff !important;
}

.input-header-search .v-field {
  padding: 0px 5px;
}

.input-form input {
  padding-top: 5px !important;
  min-height: 0px !important;
}

.input-form.v-autocomplete {
  padding-top: 5px !important;
  min-height: 0px !important;
}

.input-form.v-autocomplete .v-field__input,
.input-form.v-combobox .v-field__input {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  min-height: 21px !important;
}

.input-form.v-autocomplete .v-field__outline::before {
  display: none;
}

.input-form .v-field--variant-filled .v-field__outline::before,
.input-form .v-field--variant-underlined .v-field__outline::before,
.input-form .v-field--variant-filled .v-field__outline::after,
.input-form .v-field--variant-underlined .v-field__outline::after {
  display: none !important;
}

.input-form.v-autocomplete .v-field__outline::after {
  border-radius: 5px;
  border-width: 0 0 1px;
  display: none;
}

.input-form.v-autocomplete .v-field {
  overflow: hidden;
}

.input-form .v-field__field {
  color: #000000 !important;
}

.input-form.v-autocomplete .v-field__append-inner .v-icon::before {
  color: var(--main-color) !important;
}

.input-form.v-autocomplete .v-chip {
  font-size: 14px;
}

.input-form .v-field.v-field--focused {
  border-color: var(--main-color);
}

.input-form .v-field__clearable {
  padding-top: 1px;
  height: 24px;
}

.input-form .v-field__prepend-inner,
.input-form .v-field__append-inner {
  padding-top: 1px;
  height: 24px;
}

.input-form .v-field__append-inner {
  margin-left: 5px;
  height: 24px;
}

.input-form .v-field .v-text-field__slot,
.v-select__selection {
  font-size: 14px;
}

.input-form .v-icon {
  font-size: 20px !important;
}

.input-form .v-icon::before {
  color: #7a7a7a;
}

.input-form .v-field__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #777777;
  opacity: 1;
}

.input-form .v-field__input input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #777777;
  opacity: 1;
}

.input-form.v-autocomplete .v-field {
  padding: 3px 5px !important;
}

.input-form:not(.v-textarea):not(.v-autocomplete) .v-field {
  height: 40px;
}

.input-form .v-input__control,
.input-form .v-input__slot {
  min-height: 40px !important;
}

.input-form:not(.v-textarea):not(.v-autocomplete),
.input-form:not(.v-textarea):not(.v-autocomplete) .v-input__slot {
  height: 40px;
}

.input-form .v-input__details {
  min-height: 18px;
}

.input-form.v-input--error:not(.v-textarea) {
  height: 42px !important;
}

.height-auto.input-form:not(.v-textarea),
.height-auto.input-form:not(.v-textarea) .v-input__slot {
  height: auto !important;
  min-height: 40px !important;
}

.autocomplete-form-input,
.autocomplete-form-input .v-select__slot {
  height: 40px;
}

.autocomplete-form-input .v-input__control,
.autocomplete-form-input .v-input__slot {
  min-height: 40px !important;
}
.autocomplete-form-input .v-input__control .v-field__field {
  align-items: center;
}
.v-menu .v-list-item {
  border-bottom: 1px dotted #b9b9b9;
  min-height: 40px;
}

.v-menu .v-list-item:hover {
  background-color: hsla(34, 83%, 41%, 0.2);
}

.v-menu .v-list-item--active {
  color: var(--main-color);
}

.v-dialog .v-toolbar-items {
  align-items: center;
}

.title-page {
  color: #1e7c30;
  font-size: 16px;
  font-weight: bold;
}

#toast-container > div {
  opacity: 1 !important;
}

.vc-btn {
  color: #1e7c30 !important;
}

.v-main__wrap > .container {
  padding: 0;
}

.v-list--two-line .v-list-item,
.v-list-item--two-line {
  min-height: 0px !important;
}

.autocomplete-form-input .v-input__append-inner {
  margin-top: 6px !important;
}

.v-select--is-multi .v-input__slot {
  min-height: 34px !important;
  height: auto;
}

.btn-form {
  height: 28px;
}

.row-header {
  height: 28px;
  background: #ffffff;
  border: 1px solid var(--main-color);
  border-left: 0px;
}

.sub-header {
  height: 28px;
  background: #ffffff;
}

.header-content {
  height: 28px;
  background: var(--main-color) !important;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 16px;
}

.sub-header-content {
  height: 28px;
  background: var(--main-color) !important;
  color: #fff;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 16px;
}

.text-sub-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-color);
  margin-left: 5px;
  text-align: left;
}

.row-header .header-content {
  position: relative;
}

.row-header .header-content::before {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 14px solid var(--main-color);
  border-left: 12px solid transparent;
}

.triangle-header {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-left: 12px solid var(--main-color);
  border-bottom: 14px solid transparent;
}

table tbody td {
  font-size: 14px !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

form label {
  color: black;
  font-size: 14px;
  line-height: 28px;
}

form input::placeholder {
  color: #00000099 !important;
}

.v-list-item--dense .v-list-item__title,
.v-list-item--dense .v-list-item__subtitle,
.v-list--dense .v-list-item .v-list-item__title,
.v-list--dense .v-list-item .v-list-item__subtitle {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
}

main.v-main {
  padding-top: 0px;
  padding-bottom: 150px;
}

.v-footer--fixed {
  position: absolute !important;
}

.background-triangle-big,
.background-triangle-small {
  background-color: var(--main-color);
  display: inline-block;
  text-align: left;
  color: #fff;
  position: relative;
  margin-right: 20px;
  text-transform: uppercase;
  padding: 5px 10px;
  width: auto;
  cursor: pointer;
}

body .no__hidden_class.row-header .background-triangle-big {
  height: 37px;
}

.background-triangle-big:before,
.background-triangle-small:before {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  right: -3px;
  top: 1px;
  border-top: 22px solid var(--main-color);
  border-left: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

.v-input--checkbox .v-label {
  font-size: 14px;
}

.wrap-select-loaibaocao .v-input--selection-controls {
  margin-top: 0px;
  padding-top: 0px;
}

.v-data-table-footer {
  display: none !important;
}

.v-table__wrapper {
  border-bottom: 1px solid #dedede;
}

.v-table__wrapper > table > thead > tr th {
  height: auto !important;
  min-height: 30px !important;
  background-color: #f3fff8 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.v-table__wrapper
  > table
  > thead
  > tr
  > th.v-data-table-column--align-center
  .v-data-table-header__content {
  justify-content: center;
}

.v-table__wrapper > table > thead > tr > th .v-data-table-header__content span {
  font-weight: 700 !important;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.v-table .v-table__wrapper tr th,
.v-table tbody tr td {
  border-right: 1px solid #dadada;
}

.v-table tbody tr td:first-child,
.v-table .v-table__wrapper tr th:first-child {
  border-left: 1px solid #dadada;
}

.v-table .v-data-table-progress .v-progress-linear__background {
  background: #1e7c30;
  opacity: 1;
}

.v-table .v-data-table-progress {
  opacity: 0.6;
}

.v-table .v-data-table-progress th {
  border-left: 1px solid #dadada !important;
  border-right: 1px solid #dadada !important;
}

.v-table tbody tr {
  cursor: pointer;
}

.v-table__wrapper th.th-center,
.v-table__wrapper td.td-center {
  text-align: center !important;
}

.v-table__wrapper th.th-right,
.v-table__wrapper td.td-right {
  text-align: right !important;
}

.v-table__wrapper th.th-left,
.v-table__wrapper td.td-left {
  text-align: left !important;
}

.v-data-table--loading .v-progress-linear__indeterminate {
  background: white;
}

.v-data-table-progress {
  opacity: 0.3;
}

.v-data-table--loading .v-data-table__td {
  opacity: 1 !important;
}

.v-table .v-checkbox .v-selection-control {
  justify-content: center;
}

.v-pagination {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  width: 100%;
}

.v-pagination.v-pagination {
  padding-left: 0;
}

.v-pagination > li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.v-pagination--circle .v-pagination__item,
.v-pagination--circle .v-pagination__more,
.v-pagination--circle .v-pagination__navigation {
  border-radius: 50%;
}

.v-pagination--disabled {
  pointer-events: none;
  opacity: 0.6;
}

.v-pagination__navigation .v-icon {
  font-weight: 700;
}

.v-pagination__item {
  background: transparent;
  border-radius: 4px;
  font-size: 1rem;
  height: 30px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  -webkit-transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.v-pagination__item--active {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.v-pagination__navigation {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  height: 28px !important;
  width: 28px !important;
  margin: 0.3rem 10px;
}

.v-pagination__navigation .v-icon {
  -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  transition: 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  vertical-align: middle;
  color: var(--main-color);
}

.v-pagination__navigation--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.v-pagination__more {
  margin: 0.3rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 28px !important;
  width: 28px !important;
}

.theme--light.v-pagination .v-pagination__item {
  background: #fff;
  color: rgba(0, 0, 0, 0.87);
  height: 28px;
}

.theme--light.v-pagination .v-pagination__item--active {
  color: var(--main-color);
  font-weight: 700;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.theme--light.v-pagination .v-pagination__navigation {
  background: #fff;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

button.v-btn--size-small:not(.v-btn--variant-outlined):not(
    .v-btn--variant-flat
  ) {
  height: 28px;
}

button.v-btn--size-small span {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

button.v-btn--size-small:not(.v-btn--variant-outlined) .v-btn__content {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: none;
}
.v-btn__content {
  letter-spacing: normal;
}
button.v-btn--size-small:not(.v-btn--variant-outlined) .v-icon {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.v-card--flat {
  box-shadow: none !important;
}

.v-data-table-header {
  background: #e3f1fb;
}

.label-header {
  font-weight: 700;
}

.blue-text {
  color: var(--main-color);
}

.v-autocomplete__content .v-list-item__action {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px !important;
}

.error--text .v-input__slot {
  border: 1px solid #ff0000;
}

.text-error {
  color: #ff0000 !important;
}

.v-icon {
  opacity: 1 !important;
}

.v-tabs {
  height: 38px;
}

.tabChiTietDoiTuong .v-tabs {
  height: 40px;
}

.tabChiTietDoiTuong .v-tabs .v-btn.v-btn--density-default,
.tabChiTietDoiTuong .v-tab.v-tab {
  height: 38px !important;
  font-size: 14px;
  text-transform: none;
  font-family: Roboto, "Roboto Slab", "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--main-color);
  letter-spacing: normal;
}

.tabChiTietDoiTuong .v-tab--selected {
  font-weight: 700;
}

.tabChiTietDoiTuong .v-tab__slider {
  height: 3px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.thongtinhoso .v-tabs button {
  background-color: #e3e3e3;
  height: 30px;
  color: #707070;
  margin-right: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}

.thongtinhoso .v-tabs .v-tab--selected {
  background-color: var(--main-color);
  color: #ffffff;
  margin-right: 7px;
}

.thongtinhoso .v-tabs .v-tab--selected:not(.v-tab:first-child) {
  margin-left: 20px;
}

.thongtinhoso .v-tab--selected .v-tab__slider {
  display: none;
}

.thongtinhoso .v-tabs .v-slide-group__container {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.thongtinhoso .v-tabs,
.thongtinhoso .v-tabs .v-slide-group__container {
  height: 30px;
}

.thongtinhoso .v-tabs .v-btn::after,
.thongtinhoso .v-tabs .v-btn {
  transition: none !important;
}

.thongtinhoso .v-tabs .v-tab--selected::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0px;
  width: 0;
  height: 0;
  border: none;
  border-bottom: 40px solid var(--main-color);
  border-right: 20px solid transparent;
  border-radius: 0px !important;
  opacity: 1;
  margin-right: 20px;
}

.thongtinhoso .v-tab--selected:not(.v-tab:first-child)::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0px;
  width: 0;
  height: 0;
  border: none;
  border-top: 40px solid var(--main-color);
  border-left: 20px solid transparent;
  opacity: 1;
}

.thongtinhoso .v-tab:not(.v-tab--selected)::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0px;
  width: 0;
  height: 0;
  border: none;
  border-bottom: 40px solid #e3e3e3;
  border-right: 20px solid transparent;
  opacity: 1;
  margin-right: 5px;
}

.thongtinhoso .v-tab:not(.v-tab--selected):not(:first-child) {
  margin-left: 20px;
}

.thongtinhoso .v-tab:not(.v-tab--selected):not(:first-child)::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0px;
  width: 0;
  height: 0;
  border: none;
  border-top: 40px solid #e3e3e3;
  border-left: 20px solid transparent;
  opacity: 1;
}

.thongtinhoso button {
  height: 30px !important;
}

.bieumau .v-tab {
  margin-right: 0px;
  opacity: 1;
}

.bieumau .v-tabs {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
  height: 48px;
}

.bieumau .v-tab:not(:first-child) {
  margin-left: 20px;
}

.bieumau .v-tabs button,
.bieumau .v-tabs .v-slide-group__container {
  height: 48px;
}

.bieumau .v-tabs button {
  border-radius: 0;
}

.bieumau .v-tab:not(:first-child) {
  padding-left: 30px;
}

.bieumau .v-tabs .v-tab--selected:not(.v-tab:first-child):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #ffffff;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  opacity: 1;
  border-right: 0;
}

.bieumau .v-tabs .v-tab--selected:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid var(--main-color);
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
}

.bieumau .v-tabs .v-tab:not(.v-tab--selected):not(:first-child):after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #ffffff;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  opacity: 1;
  border-right: 0;
}

.bieumau .v-tabs .v-tab:not(.v-tab--selected):before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #e3e3e3;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
}

.bieumau .v-window {
  overflow: initial !important;
}

.v-dialog .v-toolbar {
  height: 28px !important;
  padding: 0;
  background-color: #e9fff2 !important;
}

.v-dialog .v-toolbar__content {
  height: 28px !important;
}

.v-dialog .v-toolbar .v-toolbar-title__placeholder {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.v-dialog .v-toolbar .v-btn .v-icon {
  color: var(--main-color);
}

.v-dialog .v-toolbar .sub-header {
  background-color: #e9fff2;
}

.v-dialog .v-toolbar .sub-header-content {
  align-items: center;
  display: flex;
}

.dp__input_wrap input {
  height: 40px;
}

.dp__input {
  border: 1px solid #dadada !important;
  border-radius: 0 !important;
}

.dp__input_icon {
  color: var(--main-color) !important;
}

.dp__input + div {
  position: initial !important;
}

.dp__outer_menu_wrap {
  position: initial !important;
}

.dp__action_select {
  background: var(--main-color) !important;
  width: 70px;
  height: 28px !important;
}

.dp__action_cancel {
  width: 70px;
  height: 28px !important;
}

.dp__active_date {
  background: var(--main-color) !important;
}

.dp__today {
  border: 1px solid var(--main-color) !important;
}

.v-checkbox .v-selection-control {
  min-height: 0 !important;
}

.v-radio .v-label,
.v-checkbox-btn .v-label {
  color: rgb(0 0 0);
  opacity: 1 !important;
}

.v-input--error .v-messages__message {
  color: red !important;
}

.v-card-text {
  font-size: 1rem !important;
}

.table-select .v-checkbox-btn,
.table-select .v-checkbox {
  min-height: 0;
  height: 36px;
  max-width: 50px;
}

.table-select td.selected {
  width: 60px;
}

.table-select td,
.table-select tr {
  height: 36px !important;
}

.table-select .v-checkbox-btn,
.table-select .v-checkbox .v-selection-control {
  min-height: 36px !important;
}

.select-danhmuc .v-checkbox .v-selection-control {
  min-height: 42px !important;
}

.select-danhmuc .v-checkbox .v-label {
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
}

.select-danhmuc .col-select-dm {
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
}

.select-danhmuc {
  border-top: 1px solid #dadada !important;
  border-left: 1px solid #dadada !important;
}

.disable-input-hover input {
  cursor: not-allowed;
}

.v-infinite-scroll__side {
  padding: 0px !important;
}

.xulyhoso .v-checkbox .v-selection-control {
  min-height: 0px;
}

.group-doi-tuong .v-selection-control-group {
  display: block !important;
}

.group-doi-tuong .v-selection-control {
  display: inline-flex !important;
}

.text-bold {
  font-weight: 700;
}

.verticalAlignTop {
  vertical-align: top;
}

.primaryText {
  color: var(--main-color);
}
.wrap-btn-advanceSearch {
  max-width: max-content !important;
  margin-left: -2px;
}

@media (min-width: 640px) {
  #app .container {
    max-width: 700px !important;
    width: 100%;
    margin: 0 auto !important;
  }

  main.v-main {
    padding-top: 0px;
    padding-bottom: 50px;
  }
}

@media (min-width: 768px) {
  #app .container {
    max-width: 800px !important;
    width: 100%;
    margin: 0 auto !important;
  }

  main.v-main {
    padding-top: 0px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1024px) {
  #app .container {
    max-width: 1200px !important;
    width: 100%;
    margin: 0 auto !important;
  }

  main.v-main {
    padding-top: 0px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1904px) {
  #app .container {
    max-width: 1785px !important;
    width: 100%;
    margin: 0 auto !important;
  }
}

input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

.wrap-login input:autofill,
.wrap-login input:-webkit-autofill,
.wrap-login input:-webkit-autofill:hover,
.wrap-login input:-webkit-autofill:focus,
.wrap-login input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;
}

.input-form.v-input--readonly .v-label {
  opacity: 1 !important;
}

.input-form.v-input--disabled .v-field__overlay {
  background: #c4c4c4 !important;
  opacity: 1 !important;
}

.input-form.v-input--disabled .v-input__details {
  opacity: 1 !important;
}

.dp__disabled {
  background: #c4c4c4 !important;
  opacity: 0.38 !important;
}

.v-data-table__th .v-checkbox .v-selection-control {
  min-height: 30px;
}
